<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>a1728yn</title>
  </head>
  <body>
    <h3>野明です。</h3>
    <h3>仕事はプログラマです。最近はRails書いてます。</h3>
    <h3>よろしくお願いいたします。</h3>
    <h4>言語利用履歴はperlが一番長いです。</h4>
  </body>
</html>

