<html>
 <head>
  <title>ネットワーク利用可能帯域一覧</title>
 </head>
 <body>
  <form action="kurokiresult" method="post">
  <p>
  拠点帯域<input type="text" name="network" size="10">Mbps
  </p>
  <p>
  利用許容係数(0〜1)<input type="text" name="wariai" size="10">
  </p>
  <p>
  <input type="submit" value="送信"><input type="reset" value="リセット">
  </p>
 </body>
</html>

